body{
    margin: 0;
    font-size: 16px;
    color: #444;
    font-family: Arial, serif;
}

section{
    margin: 0 auto;
    min-width: 500px;
    max-width: 800px;
}

button{
	border: 1px solid #ccc;
	background: #eee;
	padding: 0.5em 2em;
	margin: 1em 0;
	border-radius: 4px;
}
button:hover{
	background: #e2e2e2;
	cursor: pointer;
}

.todo{
    box-sizing: border-box;
    border: 1px black solid;
}