:root {
    --gray: rgb(238, 238, 238);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-columns: 250px 1fr;
    font-family: "Space Grotesk", sans-serif
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

main {
    grid-area: main;
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
}

.projects-container {
    display : flex;
    flex-direction: column;
    gap: 20px;
}

.projects-container > div {
    display: flex;
    justify-content: flex-end;
    max-width: 80%;
    gap: 10%;
}

.projects-container > div:hover {
    font-weight: 800;
}

.projects-container > div:focus {
    font-weight: 800;
    color: blue;
}

.active {
    font-weight: 800;
    color: blue;
}

.task {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 200px;

    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas: 
        "title"
        "description"
        "button";
    gap: 10px;

    align-items: start;
}

.task > h2 {
    grid-area: title;
    margin: 0;
}

.task > p {
    grid-area: description;
    background-color: var(--gray);
    padding: 10px;
    max-height: 80%;
    overflow-y: auto; /* scroll si trop long */
    word-break: break-word;
}

.task > button {
    grid-area: button;
}

