body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-columns: 250px 1fr;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

main {
    grid-area: main;
}

.projects-container {
    display : flex;
    flex-direction: column;
    gap: 20px;
}

.projects-container > div {
    display: flex;
    justify-content: flex-end;
    max-width: 80%;
    gap: 10%;
}