body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-columns: 250px 1fr;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}